@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*scrollbar-width: thin;*/
  scrollbar-color: transparent transparent;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-track {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #383838;
  border-radius: 5px;
}

*::-webkit-resizer {
  background: transparent !important;
  opacity: 0;
}

body {
  position: relative;
  background-color: #e9eaeb;
}

#root {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

a,
li,
button,
span,
svg,
input,
textarea {
  transition: all 0.1s ease-in-out !important;
  outline: none;
}

textarea::-webkit-scrollbar {
  display: none;
}
